html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  margin-left: 230px;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 165;
}

#circle-svg {
  position: absolute;
  bottom: 20%;
  right: 9%;
}
